@import "tailwindcss";

@layer utilities {
  @keyframes borderSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-borderSpin {
    animation: borderSpin 4s linear infinite;
  }
}
